body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f0f8ff;
    color: #333333;
    margin: 10%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    width: 100% - 24%;
    float: left;
    
}
header{
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    float: left;
}
nav {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
main{
    clear: both;
    width: 100%;
    float: left;
}
footer{
    text-align: center;
    margin-top: 30px;
    width: 100%;
    float: left;
    font-size: 0.9em;
    color: #777777;
}   

input {
    width: 20%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}   

input[type=submit]:hover {
    background-color: #2e6831;
}
h2 {
    color: #4CAF50;
}
a {
    color: #1a73e8;
    text-decoration: none;
}


li{
    display: inline;
    margin-right: 15px;
    
}

a:hover {
    text-decoration: none;
}

a {
    
    margin-bottom: 10px;
    margin-right: 10px;
    border: #1a73e8 1px solid;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    background-color: #e8f0fe;
}
ul {
    list-style-type: none;
    padding: 0;

}   
a:hover {
    background-color: #d2e3fc;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    
}

